<app-dashheader></app-dashheader>
<div class="rr-project-menu-box ">
  <div class="rr-dash-topbar">
    <div class="ui stackable grid ">
      <div class="row">
        <div class="two wide column"></div>
        <div class="six wide column">
          <h1 class="ui header rr-font">Overview</h1>
          <h4 class="ui header rr-subtext-color"></h4>
        </div>
        <div class="six wide column">
          <img src="">
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let project of project.projects;let i = index;">
    <div class="ui  stackable grid">
      <div class="row">
        <div class="three wide column">
          <app-projectsidebar [projecturl]="project.info.urlcode"></app-projectsidebar>
        </div>
        <div class="eleven wide column">
          <div class="content">
            <div class="sixteen wide column body">
              <div class="ui items">
                <div class="item">
                  <div class="large image">
                    <img [attr.src]="url+project.media[0].filename+'.'+project.media[0].ext">
                  </div>
                  <div class="content">
                    <a class="header">{{project.info.name}}</a>
                    <div class="meta">
                      <span>About Project</span>
                    </div>
                    <div class="description">
                      <p>
                        {{project.display.description}}
                      </p>
                    </div>
                    <div class="extra">
                      created 5th January 2016 &nbsp; &nbsp;
                      <a class="green ui tag label">verified</a> &nbsp; &nbsp;
                      <a class="teal ui tag label">in progress</a> &nbsp; &nbsp; &nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<FooterComponent></FooterComponent>
