<HeaderComponent></HeaderComponent>
<div class="ui stackable grid" style="background-color: #f7f5f2;padding-top: 50px">
  <div class="row">
    <div class="five wide centered column rr-reg-body">
      <div [ngStyle]="{'display':cssClasses.toggleForm}" class="rr-reg-head">
        Confirm Email Address
      </div>
      <form [ngStyle]="{'display':cssClasses.toggleForm}" class="ui form">
        <h4 class="ui dividing header"></h4>
        <div class="ui grey sub header">
          Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </div>
        <br><br>
        <div class="field">
          <div class="ui left action input">
            <button class="ui blue labeled icon button">
              <i class="mail icon"></i>
            </button>
            <input type="text" [(ngModel)]="accountmodel.email" name="email" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <div (click)="sendEmail()" ngClass="cssClasses.loadingBtn" class="right floated ui blue button" tabindex="0">Reset My Password</div>
        </div>
      </form>
      <div [ngStyle]="{'display':cssClasses.toggleIns}" class="label">
        <div  class="rr-reg-head">
          Reset instructions sent
        </div>
        <h4 class="ui dividing header"></h4>
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
      </div>
    </div>
  </div>

</div>
<FooterComponent></FooterComponent>
