.rr-field-title{
  font-size: 19px;
  line-height: 20px;
  line-height: 16px;
  margin-top: 10px;
}
.rr-field-content{
  font-size: 19px;
}
.rr-shape-shift{
  background-color: #f9f9f9;
  border-radius: 5px;
  padding-top: 20px!important;
  padding-left: 20px!important;
}
.rr-shape-shift .side{
  width: 90%;
  height: 90%;
  /*border: 2px solid red;*/
}
.rr-shape-shift .shape{
  width: 100%;
}
