<app-dashheader></app-dashheader>
<div class="rr-dash-topbar">
  <div class="ui stackable grid ">
    <div class="row">
      <div class="two wide column"></div>
      <div class="six wide column">
        <h1 class="ui header rr-font">Welcome to Rotaraise</h1>
        <h4 class="ui header rr-subtext-color"> Vestibulum quam nisi, pretium a nibh sit amet, consectetur hendrerit mi.
          Aenean imperdiet lacus sit amet elit porta, et malesuada erat bibendum.</h4>
      </div>
      <div class="six wide column">
        <img src="">
      </div>
    </div>
  </div>
</div>
<div class="rr-dash-content">
  <div class="one column ui stackable grid ">
    <div class="column" style="text-align: end">
      <button (click)="addProjectClick()" class="large red ui labeled icon button">
        <i class="add icon"></i>
        Add New Project
      </button>
    </div>
  </div>

  <div class="rr-dash-content-box">
    <div class="ui stackable grid">
      <div class="row">
        <div class="two wide column"></div>
        <div class="fourteen wide column">
          <div class="sixteen wide column rr-subtext-color">
            Your Current Projects
          </div>
          <div class="ui stackable grid">
            <div class="row">
                <!--//Ultralight Beam-->
                <div *ngIf="projects.meta.total !=0 ">
                  <div style="float: left" *ngFor="let project of projects.projects;let i = index;">
                    <div class="ui card" style="height: 250px;margin: 20px;" >
                      <div class="content">
                        <a class="header">{{project.info.name}}</a>
                        <div class="meta">
                          <a>{{project.info.enddate | daysleft}} Days Left</a>
                        </div>

                      </div>
                      <div class="extra centered content" style="text-align: center">
                        <a class="ui green label">
                          Donations
                          <div class="detail">{{project.account.donorcount}}</div>
                        </a>
                        <div class="ui blue progress dashpercent"
                             [attr.data-percent]="project.account.amtraised / project.account.targetamt * 100" id="appexample2">
                          <div class="bar"></div>
                          <div class="label">
                            ${{project.account.amtraised}}

                            Donated of
                            {{jQueryEvents()}}
                            ${{project.account.targetamt}} Goal</div>
                        </div>
                        <a routerLink="/overview" class="ui grey mini  button">
                          <i class="travel icon"></i> Manage
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="projects.meta.total == 0 ">
                  <br><br>
                  <label class="ui label">
                    No Projects.
                  </label>
                </div>
                <!--dream-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<FooterComponent></FooterComponent>
